CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"
ALLOWED_HOSTS='["http://localhost:8000", "https://shitfaced.me"]'

MONGODB_URL=mongodb://mongo:27017
ME_CONFIG_MONGODB_SERVER=mongo
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=password

INCOMING_ACCESS_KEY=
INCOMING_SECRET_KEY=
INCOMING_BUCKET_URL=
INCOMING_BUCKET=shitfaced-incoming

PROCESSED_ACCESS_KEY=
PROCESSED_SECRET_KEY=
PROCESSED_BUCKET_URL=
PROCESSED_BUCKET=shitfaced-processed