{% extends "_base.html" %}

{% block content %}

<div class="container my-1">
  <div class="p-1 text-center bg-body-tertiary rounded-3">
    <div class="d-inline-flex gap-2 mb-1">
      <img class="rounded-lg-3" src="{{ url_for('static', path='/images/shitfaced_logo.png') }}" alt="" height="180">
    </div> <!-- <div class="d-inline-flex -->
    <h1 class="text-body-emphasis mb-5">Shitfaced!</h1>
    
    <div class="container my-5">
      <div id="notifications_area" class="my-1">
        <div id="error_area" class="alert alert-danger" style="display: none;"></div>
        <div id="success_area" class="alert alert-success" style="display: none;"></div>
      </div> <!-- <div id="notifications_area" -->

      <div id='upload_area'>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
          <b>First</b>, upload an image with faces in it.<br>We'll throw some shit on their face and spit it right back to you.
        </p>
          {% set cnt = namespace(value=0) %}
          {% for emoji in emoji_list -%}
          {%- set emoji_list_work = emoji.split('/') %}
          {% if cnt.value == 5 %}
            {% set cnt.value = 0 %}
            </ul>
          {% endif %}
          {% if cnt.value == 0 %}
            <ul class="list-group list-group-horizontal-lg">
          {% endif %}
          <li class="list-group-item">
              <input type="radio" id="emoji_item_{{loop.index}}" value="{{emoji_list_work[1]}}" class="hidden list-group-item-check" name="selected_emoji" required>
              <label for="emoji_item_{{loop.index}}" class="list-group-item">
                <img src="{{ url_for('static', path=emoji) }}" width="100%" alt="">
              </label>
            </li>
          {% set cnt.value = cnt.value + 1 %}
          {% endfor %}
            <!-- <li>
                <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer" required />
                <label for="hosting-small" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                    <div class="block">
                        <div class="w-full text-lg font-semibold">0-50 MB</div>
                        <div class="w-full">Good for small websites</div>
                    </div>
                    <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </label>
            </li>
            <li>
                <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="hidden peer">
                <label for="hosting-big" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">500-1000 MB</div>
                        <div class="w-full">Good for large websites</div>
                    </div>
                    <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </label>
            </li> -->
        </ul>
        












            <div class="flex items-center justify-center w-full">
              <label for="file_upload" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                      <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                      </svg>
                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                      <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG or GIF (Min 120 x 120px, Max 4000 x 4000 px)</p>
                  </div> <!-- <div class="flex -->
                  <input type="file" name="file_upload" class="hidden" id="file_upload">
                </label>
            </div> <!-- <div class="flex items-center -->
          



      </div> <!-- <div id='upload_area'> -->
    
      <div id='pending_area' style="display: none;">
          <p style='text-align: center;'><img src="{{ url_for('static', path='/images/rotating-poop.gif') }}" height="20%" width="20%"></p>
      </div> <!-- <div id='pending_area'-->
    
      <div id='results_area' style="display: none;" >
        <p id='shitface_image_area' style='text-align: center;'></p>
      </div> <!-- <div id='results_area'-->
    </div> <!-- <div class="container my-5"> -->
  </div> <!-- <div class="p-1 text -->
</div> <!-- <div class="container my-1"> -->


{% endblock %}
