{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Shitfaced!</h1>
  <hr><br>
  <div>
    <h3>Upload an image</h3>
    <p>Upload a static image (.JPG, .PNG, .GIF) and they'll get shitfaced! </p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <input id="file_upload" type="file" onChange="handleClick()">
    </div>
  </div>
  <br><br>
  <div>
    <h3>Upload Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
